<%- include ("partials/header.ejs") %>
<%- include ("partials/homenavbar.ejs") %>
<body>

    <h1>Olá Mundo porra</h1>

    <div class="cointainer">
        <form action="/comprar" method="POST">
            <button>Comprar</button>
        </form>
    </div>

</body>

<%- include ("partials/footer.ejs") %>
